landing.html
<!DOCTYPE html>
<html> 
  <head>
    <meta charset="utf8">
    <link rel="stylesheet" href="css/style.css">
  </head>
  <body> 
    <header> 
      <h1 class="logo">myLorem</h1>
      <div class="seperator"><a class="boton">Welcome</a><a class="boton">Dropdown</a><a class="boton">Left Slider</a><a class="boton">righ Slider</a><a class="boton">No Slider</a></div>
    </header>
    <section class="intro">
      <div class="intro__contenido">
        <h2>Hi. This is Lorem</h2>
        <p>Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto.</p>
      </div>
      <div class="intro__imagen"><a class="botonIntro" href="https://www.delftstack.com/" target="_blank" rel="noopener noreferrer">Ok let's go
          <div class="icono"><img src="./images/arrow.png"></div></a><a class="botonIntro" href="https://www.delftstack.com/" target="_blank" rel="noopener noreferrer">More Info
          <div class="icono"><img src="./images/ask.png"></div></a></div>
    </section>
    <main class="contenido"> 
      <div class="caja">
        <div class="caja__imagen"><img src="images/pic01.jpg"/></div>
        <div class="caja__contenido">
          <h3 class="caja__texto">Maybe here as well i think</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elitLorem</p>
        </div>
      </div>
      <div class="caja">
        <div class="caja__imagen"><img src="images/pic02.jpg"/></div>
        <div class="caja__contenido">
          <h3 class="caja__texto">This is also an interesting subtitle</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elitLorem</p>
        </div>
      </div>
      <div class="caja">
        <div class="caja__imagen"><img src="images/pic02.jpg"/></div>
        <div class="caja__contenido">
          <h3 class="caja__texto">Here's another intriguing subtitle</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elitLorem</p>
        </div>
      </div>
    </main>
    <section class="contenido2">
      <div class="intro__imagen">
        <h2 class="text">So what's this all about?</h2><a class="botonIntro" href="https://www.delftstack.com/" target="_blank" rel="noopener noreferrer">Ok let's go</a><a class="botonIntro" href="https://www.delftstack.com/" target="_blank" rel="noopener noreferrer">More Info</a>
      </div>
      <div class="contenido2__contenido">
        <h2>So what's this all about?</h2>
        <p>
          Lorem ipsum es el texto que se usa habitualmente en diseño gráfico en demostraciones de tipografías o de 
          borradores de diseño para probar el diseño visual antes de insertar el texto final.
          Aunque no posee actualmente fuentes para justificar sus hipótesis, el profesor de filología clásica Richard 
          McClintock asegura que su uso se remonta a los impresores de comienzos del siglo xvi.1​ Su uso en algunos editores 
          de texto muy conocidos en la actualidad ha dado al texto lorem ipsum nueva popularidad.
          El texto en sí no tiene sentido, aunque no es aleatorio, sino que deriva de un texto de Cicerón en lengua latina, 
          a cuyas palabras se les han eliminado sílabas o letras. El significado del mismo no tiene importancia, 
        </p>
        <p>
          ya que solo es una demostración o prueba. El texto procede de la obra De finibus bonorum et malorum 
          (Sobre los límites del bien y del mal) que comienza con:   
        </p><a class="botonIntro" href="https://www.delftstack.com/" target="_blank" rel="noopener noreferrer">Continue Reading</a>
      </div>
    </section>
    <footer> 
      <div class="footer-clean">
        <div class="contentfooter">
          <div class="itemFooter">
            <h3>Random Stuff</h3>
            <ul>
              <li><a>Web design</a></li>
              <li><a>Development</a></li>
              <li><a>Hosting</a></li>
            </ul>
          </div>
          <div class="itemFooter">
            <h3>Random Stuff</h3>
            <ul>
              <li><a>Company</a></li>
              <li><a>Team</a></li>
              <li><a>Legacy</a></li>
            </ul>
          </div>
          <div class="itemFooter">
            <h3>Random Stuff</h3>
            <ul>
              <li><a>Job openings</a></li>
              <li><a>Employee success</a></li>
              <li><a>Benefits</a></li>
            </ul>
          </div>
          <div class="itemFooter">
            <div class="icon">
              <h3>Contact Us</h3>
              <ul class="icons">
                <li><img src="../images/pinterest.png"></li>
                <li><img src="../images/gplus.png"></li>
                <li><img src="../images/instagram.png"></li>
                <li><img src="../images/facebook.png"></li>
                <li><img src="../images/twitter.png"></li>
              </ul>
            </div>
            <ul>
              <li><a>Job openings</a></li>
              <li><a>Employee success</a></li>
              <li><a>Benefits</a></li>
            </ul>
          </div>
        </div>
        <div class="creator">
          <p class="copyright">By Nicolas Vargas © 2022</p>
        </div>
      </div>
    </footer>
  </body>
</html>

landing.pug
extend components/sources.pug
block contenidos
    section.intro
            .intro__contenido
                h2 #{titulo[0]}
                p Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto.
            .intro__imagen
                a.botonIntro(href='https://www.delftstack.com/' target="_blank" rel="noopener noreferrer") Ok let's go
                    .icono: img(src="./images/arrow.png")
                a.botonIntro(href='https://www.delftstack.com/' target="_blank" rel="noopener noreferrer") More Info
                    .icono: img(src="./images/ask.png")
    main.contenido 
        +caja('pic01.jpg', titulos[0], 'Lorem ipsum dolor sit amet, consectetur adipiscing elitLorem')
        +caja('pic02.jpg', titulos[1], 'Lorem ipsum dolor sit amet, consectetur adipiscing elitLorem')
        +caja('pic02.jpg', titulos[2], 'Lorem ipsum dolor sit amet, consectetur adipiscing elitLorem')
    section.contenido2
            .intro__imagen
                h2.text #{titulo[1]}
                a.botonIntro(href='https://www.delftstack.com/' target="_blank" rel="noopener noreferrer") Ok let's go
                a.botonIntro(href='https://www.delftstack.com/' target="_blank" rel="noopener noreferrer") More Info
            .contenido2__contenido
                h2 #{titulo[1]}
                p.
                    Lorem ipsum es el texto que se usa habitualmente en diseño gráfico en demostraciones de tipografías o de 
                    borradores de diseño para probar el diseño visual antes de insertar el texto final.
                    Aunque no posee actualmente fuentes para justificar sus hipótesis, el profesor de filología clásica Richard 
                    McClintock asegura que su uso se remonta a los impresores de comienzos del siglo xvi.1​ Su uso en algunos editores 
                    de texto muy conocidos en la actualidad ha dado al texto lorem ipsum nueva popularidad.
                    El texto en sí no tiene sentido, aunque no es aleatorio, sino que deriva de un texto de Cicerón en lengua latina, 
                    a cuyas palabras se les han eliminado sílabas o letras. El significado del mismo no tiene importancia, 
                p.
                    ya que solo es una demostración o prueba. El texto procede de la obra De finibus bonorum et malorum 
                    (Sobre los límites del bien y del mal) que comienza con:   
                a.botonIntro(href='https://www.delftstack.com/' target="_blank" rel="noopener noreferrer") Continue Reading
